<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/l4Razor.styles.css" asp-append-version="true" />

     <link rel="stylesheet" href="~/css/header.css" asp-append-version="true">
      <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
      <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true">
      <link rel="stylesheet" href="~/css/news.css" asp-append-version="true">
    
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
  <div class="Sidebar">

    <div class="Logo"><a asp-page = "/Index"><img src="css/images/Vector.png" alt="Website Logo"></a></div>

    <ul class = "SidebarContent">

      <li class="SidebarText SidebarTextSelected "><a asp-page="/Index"><span class="material-symbols-outlined">inventory_2</span>Главная</a></li>
      <li class="SidebarText SidebarTextNotSelected "><a asp-page="/Schedule"><span class="material-symbols-outlined">description</span>Расписание Залов</a></li>
      <li class="SidebarText SidebarTextNotSelected "><a asp-page="/Collectives"><span class="material-symbols-outlined">group</span>Коллективы</a></li>
      <li class="SidebarText SidebarTextNotSelected "><a asp-page="/ContactUs"><span class="material-symbols-outlined">cloud</span>Связаться</a></li>

    </ul>
    
  </div>

  <div class="MainContent">
    @RenderBody()
  </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

