*{
  box-sizing: content-box;
}

body, html{
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body{
  display: flex;
  flex-direction: row;

  background-color: #3A41ED;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  
  text-decoration: none;
  color: #3A41ED;
}

button:hover{
  cursor: pointer;
}

.Sidebar{
  width: 15%;
}

.MainContent{
  margin-top: 4px;
  width: 85%;
  background-color: #FBFAFF;
  border-radius: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 56px;
  gap: 32px;
  overflow: hidden;
}

.ErrorText{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: red;

  display: flex;
  align-items: center;
}

.field-validation-error{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: red;

  display: flex;
  align-items: center;
}





